In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/home/yash/Downloads/customer.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
df = df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop("purchased",axis = 1),df["purchased"],test_size = 0.2, random_state = 0 )
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((40, 2), (10, 2), (40,), (10,))

## Ordinal Encoding

In [5]:
from sklearn.preprocessing import OrdinalEncoder 
oe = OrdinalEncoder(categories = [["Poor","Average","Good"],["School","UG","PG"]])

oe.fit(x_train)
x_train_ec = oe.transform(x_train)
x_test_ec = oe.transform(x_test)

In [6]:
x_test,x_test_ec

(     review education
 28     Poor    School
 11     Good        UG
 10     Good        UG
 41     Good        PG
 2      Good        PG
 27     Poor        PG
 38     Good    School
 31     Poor    School
 22     Poor        PG
 4   Average        UG,
 array([[0., 0.],
        [2., 1.],
        [2., 1.],
        [2., 2.],
        [2., 2.],
        [0., 2.],
        [2., 0.],
        [0., 0.],
        [0., 2.],
        [1., 1.]]))

In [7]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [8]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y_train)
y_train_ec = le.transform(y_train)
y_test_ec = le.transform(y_test)

# label encoding do on only output column

y_test,y_test_ec

(28     No
 11    Yes
 10    Yes
 41    Yes
 2      No
 27     No
 38     No
 31    Yes
 22    Yes
 4      No
 Name: purchased, dtype: object,
 array([0, 1, 1, 1, 0, 0, 0, 1, 1, 0]))

In [9]:
le.classes_

array(['No', 'Yes'], dtype=object)

## One Hot Encoding

In [10]:
df = pd.read_csv("/home/yash/Downloads/cars.csv")
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [11]:
df["fuel"].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [12]:
df["owner"].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

### 1. Using Pandas

In [13]:
pd.get_dummies(df,columns = ["fuel","owner"]).head()

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False

### 2. K-1 Encoding

In [14]:
pd.get_dummies(df,columns = ["fuel","owner"],drop_first = True).head()
# drop_first = True removes the first column of each category

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False

### 3. Using SkLearn

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df["selling_price"],test_size = 0.2, random_state = 0 )
x_train

           brand  km_driven    fuel         owner
3042     Hyundai      60000     LPG   First Owner
1520        Tata     150000  Diesel   Third Owner
2611     Hyundai     110000  Diesel  Second Owner
3544    Mahindra      28000  Diesel  Second Owner
4138      Maruti      15000  Petrol   First Owner
...          ...        ...     ...           ...
4931        Tata      70000  Diesel   Third Owner
3264        Ford     100000  Diesel  Second Owner
1653     Hyundai      90000  Petrol  Second Owner
2607  Volkswagen      90000  Diesel   First Owner
2732     Hyundai     110000  Petrol   First Owner

[6502 rows x 4 columns]

In [16]:
from sklearn.preprocessing import OneHotEncoder
oh = OneHotEncoder(drop = "first",sparse_output = False)
# drop = "first" => removes the first column of each category
# sparse_output = False => returns a dense array instead of a sparse matrix

In [17]:
oh.fit(x_train.iloc[:,2:])

OneHotEncoder(drop='first', sparse_output=False)

In [18]:
x_train_ec = oh.transform(x_train.iloc[:,2:])
x_test_ec = oh.transform(x_test.iloc[:,2:])

In [19]:
a = np.hstack((x_train[["brand","km_driven"]].values,x_train_ec))
a
# hstack combines the arrays horizontally

array([['Hyundai', 60000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Tata', 150000, 1.0, ..., 0.0, 0.0, 1.0],
       ['Hyundai', 110000, 1.0, ..., 1.0, 0.0, 0.0],
       ...,
       ['Hyundai', 90000, 0.0, ..., 1.0, 0.0, 0.0],
       ['Volkswagen', 90000, 1.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 110000, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)

In [20]:
a = pd.DataFrame(a) # convert in to DataFrame
a

               0       1    2    3    4    5    6    7    8
0        Hyundai   60000  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1           Tata  150000  1.0  0.0  0.0  0.0  0.0  0.0  1.0
2        Hyundai  110000  1.0  0.0  0.0  0.0  1.0  0.0  0.0
3       Mahindra   28000  1.0  0.0  0.0  0.0  1.0  0.0  0.0
4         Maruti   15000  0.0  0.0  1.0  0.0  0.0  0.0  0.0
...          ...     ...  ...  ...  ...  ...  ...  ...  ...
6497        Tata   70000  1.0  0.0  0.0  0.0  0.0  0.0  1.0
6498        Ford  100000  1.0  0.0  0.0  0.0  1.0  0.0  0.0
6499     Hyundai   90000  0.0  0.0  1.0  0.0  1.0  0.0  0.0
6500  Volkswagen   90000  1.0  0.0  0.0  0.0  0.0  0.0  0.0
6501     Hyundai  110000  0.0  0.0  1.0  0.0  0.0  0.0  0.0

[6502 rows x 9 columns]

## 4. One Hot Encoding with top Categories

In [21]:
df["brand"].nunique()

32

In [22]:
count = df["brand"].value_counts()
count

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [23]:
z = count[count<100].index
z
# brands which have less than 100 cars

Index(['Nissan', 'Jaguar', 'Volvo', 'Datsun', 'Mercedes-Benz', 'Fiat', 'Audi',
       'Lexus', 'Jeep', 'Mitsubishi', 'Land', 'Force', 'Isuzu', 'Ambassador',
       'Kia', 'MG', 'Daewoo', 'Ashok', 'Opel', 'Peugeot'],
      dtype='object', name='brand')

In [24]:
w = df["brand"].replace(z,"Other")
# replace the brands which have less than 100 cars with "Other"

c = pd.get_dummies(w) # one hot encoding
c

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Other,Renault,Skoda,Tata,Toyota,Volkswagen
0,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,True,False,False,False,False,False,False,False,False
8124,False,False,False,False,True,False,False,False,False,False,False,False,False
8125,False,False,False,False,False,False,True,False,False,False,False,False,False
8126,False,False,False,False,False,False,False,False,False,False,True,False,False
8127,False,False,False,False,False,False,False,False,False,False,True,False,False